---
import { socials } from "../config";
import Socials from "../components/Socials";
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Astro Practice">
  <div class="h-[50vh] flex justify-center items-center">
    <Socials client:load />
  </div>
</MainLayout>
